@import "tailwindcss";

.separator {
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, transparent, #fff, transparent);
}
.dashboard_separator {
    height: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, transparent, #6946e8, transparent);
}